*{
    margin: 0px;
    padding: 0px;
    font-family: 'Miltonian Tattoo', serif;
}





.box:hover{
background-color: rgb(254, 8, 8);
color: black;
}
.prj span {
color:red;
}
form #formControlDefault{
 background-color: rgb(240, 190, 190);
 
}
